

body{
    
    font-family: 'Raleway', sans-serif !important;
}

.continer{
    
   background-color: rgba(167, 178, 180, 0.473);
}

h2{
    color: #e9e1b6;
    text-shadow: 3px 3px 1px black
    
    
}

*{
    padding: 0;
    margin: 0;
}



nav {
	
	background-color: rgba(167, 178, 180, 0.2) !important;
	width: 100%;
	display: flex;
	align-items: center;
	font-family:sans-serif;
	font-weight: 500;
}

nav ul {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
	color: white !important;
	font-size: 25px;
	padding: 0px 12px !important;
	text-shadow: 5px 5px 4px black;
}

nav ul li a:hover {
	margin-bottom: 10px;
	margin-right: 5px;
	text-shadow: 10px 10px 10px black;
    color: #d5ad6d!important;
}

.nn {
	width: 100%;
	background-color: rgba(167, 178, 180, 0.2) !important;
	position: fixed;
	z-index: 999;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center;
}

.logo {
	padding-left: 20px;
	display: flex;
	align-items: center;
	
	margin-bottom: 0;
}

.logo {
	font-size: 35px;
	font-weight: 1000;
	display: flex;
	align-items: center;
}

.logo .i {
	color: #2ea5dd;
}

@media screen and (max-width: 991.5px) {
	nav {
		display: flex;
		align-items: center !important;
	}
	nav ul {
		text-align: center !important;
	}

	.logo {
		margin-top: 0;
	}

	nav .ymeen {
		
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	nav ul li a {
		color: white !important;
	}

	nav button {
       
		color: rgba(0, 0, 0, 0) !important;
		border: 2px solid black !important;
	}
}


.to2a {
    height: 50px;
    width: 150px
    
}



.loc {
    display: flex;
    justify-content: center
    
}

.Countries{
background-color:  #e9e1b6 !important;
       border: 2px solid   #e9e1b6  ;
        border-radius: 10px;
        margin-left: 20px;
        margin-top: 50px;
} 

.kl{
margin-top: 25px;
text-align: center;
}

.back {
font-size: 90px;
color: #D5AD6D; /*if no support for background-clip*/
background: -webkit-linear-gradient(transparent, transparent),
-webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: sans-serif;
}

.sub{
    background-color:  #d1c896 !important;
    border: 2px solid   #d1c896  ;
     border-radius: 10px;
     margin-left: 20px;
     margin-top: 50px;
    height: 30px;
    width: 80px;
}
.sub:hover{
    box-shadow: 5px 5px 1px black;

}



.ca{
display: flex;
justify-content: center;
justify-content: space-around;
margin-top: 50px;
}
.fas {
    font-size: 20px
    
    
}
.lil{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    
}
.ar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    
    
}
.mi {
    height: 50px;
    width: 100px;
    
    
}
.op {
background-color: white;
}
.imp{
    
margin-bottom: 25px;



}

.site-footer
{
  background-color: rgba(167, 178, 180, 0.473);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
    text-shadow: 3px 2px px grey;
      
      
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#737373;
  text-decoration:none;
    font-size: 21px
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:25px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.fab{
    
    margin-top: 6px;
    margin-left: 1px
    
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
   
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-icons a.dribbble:hover
{
  background-color:red
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
    
.btn{
    
    margin-bottom: 20px;
}